*.json binary
*.yaml binary
*.fits binary
*.metafits binary
*.mwaf binary
*.lock binary
# Measurement sets
*.dat binary
*.f0 binary
*.f0i binary
*.info binary
# mdbook-mermaid
mdbook/mermaid.min.js binary
