name: Deploy mdBook

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build, Test and Deploy
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
      - name: Install mdBook
        run: |
          (test -x $HOME/.cargo/bin/mdbook || cargo install mdbook)
          cargo install mdbook-linkcheck mdbook-mermaid mdbook-admonish
      - name: Build and Test
        run: |
          cd mdbook
          mdbook-admonish install
          mdbook build
          mdbook test
      - uses: JamesIves/github-pages-deploy-action@4.1.7
        with:
          branch: gh-pages
          folder: ./mdbook/book/html
